# Libraries

In [1]:
import pandas as pd
import requests

# Loading the data

In [2]:
ds = pd.read_csv('florida-beach-names.csv')
ds

,WKT,COUNTY,NAME,created_user,created_date,last_edited_user,last_edited_date
0,"POLYGON Z ((-9698711.156 3546590.3287 0,-96987...",ESCAMBIA,UNSURVEYED,NaN,NaN,NaN,NaN
1,"POLYGON Z ((-9061671.5384 3555608.0978 0,-9061...",DUVAL,HANNA PARK,NaN,NaN,NaN,NaN
2,"POLYGON Z ((-9054509.0537 3514807.6314 0,-9054...",ST JOHNS,GUANA RIVER SP,NaN,NaN,NaN,NaN
3,"POLYGON Z ((-9668169.2045 3552697.6667 0,-9668...",ESCAMBIA,UNSURVEYED,NaN,NaN,NaN,NaN
4,"POLYGON Z ((-9597884.3653 3547578.4878 0,-9597...",WALTON,WALTON COUNTY BCHS,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
297,"POLYGON Z ((-9039717.3304 2937286.6217 0,-9039...",MONROE,ENP (HIGHLAND BEAC,NaN,NaN,NaN,NaN
298,"POLYGON Z ((-9039593.2653 2937286.6434 0,-9039...",MONROE,ENP (HIGHLAND BEAC,NaN,NaN,NaN,NaN
299,"POLYGON Z ((-9015596.0256 2844170.7527 0,-9015...",MONROE,LITTLE CRAWL KEY,NaN,NaN,NaN,NaN
300,"POLYGON Z ((-9016208.8296 2843020.5594 0,-9016...",MONROE,FAT DEER KEY,NaN,NaN,NaN,NaN
301,"POLYGON Z ((-8927112.0082 2930542.2383 0,-8927...",DADE,BISCAYNE NATIONAL,NaN,NaN,NaN,NaN

# Looking at the data